<!doctype html>
<html ng-app="scotchTodo">

<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Node/Angular Todo App</title>

	   
     <!-- SPELLS -->
	<script language="javascript" type="text/javascript" src='/javascript/codeindex.js'></script>


</head>
<!-- SET THE CONTROLLER -->
<body>
	   <P>This is very minimal "Hello Worldd" HTML document.</P> 

</body>

<script type="text/javascript">
     Index_Load();
</script>

</html>